<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scavengerhuntapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Forager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".organizer.CreateHuntActivity"
            android:label="Create Hunt"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".organizer.SubmissionsActivity"
            android:label="Submissions"/>
        <activity android:name=".player.RankingsActivity"
            android:label="Rankings"/>
        <activity android:name=".player.AnnouncementsActivity"
            android:label="Announcements"/>

        <activity android:name=".organizer.BroadcastActivity"
            android:label="Broadcast"/>

        <activity android:name=".organizer.CurrentChallengesActivity"
            android:label="Challenges"/>
        <activity android:name=".organizer.TeamInfoActivity"></activity>
        <activity android:name=".organizer.HuntLandingActivity"
            android:label="Hunt Home"/>
        <activity android:name=".organizer.PremadeChallengeListActivity"
            android:label="Pre-made Challenges"/>
        <activity android:name=".organizer.PremadeHuntsActivity"
            android:label="Pre-made Hunt Locations"/>
        <activity android:name=".player.PlayerLandingActivity"
            android:label="All Hunts"/>
        <activity android:name=".player.PlayerHuntLandingActivity"
            android:label="Hunt Name"/>
        <activity android:name=".organizer.OrganizerLandingActivity"
            android:label="All Hunts"/>
        <activity android:name=".organizer.ProcessSubmissionActivity"></activity>
        <activity android:name=".shared.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".player.PlayerViewTeamActivity"
            android:label="My Team"/>
        <activity android:name=".player.SubmitChallengeActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="Submit a Challenge"/>

    </application>



</manifest>
